# Lecture 21
## Tuesday, November 16th, 2021
### SQL Database Exercise (I)

# `SQLite` Exercises

Today you will work with the `candidates.txt` and `contributors.txt` datasets to
create a database in `python` using `SQLite`. This is a hands-on lecture. For
once, you may do these tasks in a Jupyter notebook.

The exercises will consist of a sequence of steps to help illustrate basic
commands.

<a id='deliverables'></a>
# Exercise Deliverables

> 1. Make a copy of this notebook and call it `L21_Exercises.ipynb`.
> 2. For each step in the exercise notebook, there are instructions labeled
>    "**Do the following:**" (except for Setup and Interlude). Put all the code
>    for those instructions in _code cell(s) immediately following_ the
>    instructions. The code in those cells should look like a `python` script.
>    You *must* place comments where appropriate that describe your intentions
>    and understanding.  When in doubt add a comment.  **Note:** To get the
>    `pandas` tables to display in a cell, use `display()`.
> 3. Save and close your database.  Be sure to upload your database with the
>    lecture exercises. You must name your database **`L21DB.sqlite`**.
> 4. Commit your completed work to your class `git` repo inside the directory
>    `lectures/lecture21` on the `main` (or `master`) branch.

## Table of Contents

[Setup](#setup)

[Interlude](#interlude): Not required but highly recommended.

[Step 1](#step_1)

[Step 2](#step_2)

[Step 3](#step_3)

[Step 4](#step_4)

[Step 5](#step_5)

[Step 6](#step_6)

[Step 7](#step_7)

[Step 8](#step_8)

<a id='setup'></a>
# Setup

You should import `sqlite3` again like last time.

In [86]:
import sqlite3

We will also use a basic a `pandas` feature to display tables in the database.

In [87]:
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

from IPython.display import display

Now we create the tables in the database (just like last time).

In [88]:
db = sqlite3.connect('L21DB.sqlite')
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS candidates")
cursor.execute("DROP TABLE IF EXISTS contributors")
cursor.execute("PRAGMA foreign_keys=1")

cursor.execute('''CREATE TABLE candidates (
               id INTEGER PRIMARY KEY NOT NULL, 
               first_name TEXT, 
               last_name TEXT, 
               middle_init TEXT, 
               party TEXT NOT NULL)''')

db.commit() # Commit changes to the database

cursor.execute('''CREATE TABLE contributors (
          id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
          last_name TEXT, 
          first_name TEXT, 
          middle_name TEXT, 
          street_1 TEXT, 
          street_2 TEXT, 
          city TEXT, 
          state TEXT, 
          zip TEXT, 
          amount REAL, 
          date DATETIME, 
          candidate_id INTEGER NOT NULL, 
          FOREIGN KEY(candidate_id) REFERENCES candidates(id))''')

db.commit()

Next we load the data for the candidates:

In [89]:
with open ("candidates.txt") as candidates:
    next(candidates) # jump over the header
    for line in candidates.readlines():
        cid, first_name, last_name, middle_name, party = line.strip().split('|')
        vals_to_insert = (int(cid), first_name, last_name, middle_name, party)
        cursor.execute('''INSERT INTO candidates 
                  (id, first_name, last_name, middle_init, party)
                  VALUES (?, ?, ?, ?, ?)''', vals_to_insert)
db.commit()

<a id='interlude'></a>
## Interlude

Now that you have values in the tables of the database, it would be convenient
to be able to visualize those tables in some way.  We'll write a little helper
function to accomplish this.

In [90]:
def viz_tables(cols, query):
    q = cursor.execute(query).fetchall()
    framelist = dict()
    for i, col_name in enumerate(cols):
        framelist[col_name] = [row[i] for row in q]
    return pd.DataFrame.from_dict(framelist)

Here's how we can use our helper function.  It gives a pretty nice visualization
of our table.  You should do the same thing with the `contributors` table.

In [91]:
candidate_cols = [col[1] for col in cursor.execute("PRAGMA table_info(candidates)")]
query = '''SELECT * FROM candidates'''
viz_tables(candidate_cols, query)

    id   first_name   last_name middle_init party
0   16         Mike    Huckabee                 R
1   20       Barack       Obama                 D
2   22      Rudolph    Giuliani                 R
3   24         Mike      Gravel                 D
4   26         John     Edwards                 D
5   29         Bill  Richardson                 D
6   30       Duncan      Hunter                 R
7   31       Dennis    Kucinich                 D
8   32          Ron        Paul                 R
9   33       Joseph       Biden                 D
10  34      Hillary     Clinton          R.     D
11  35         Mitt      Romney                 R
12  36       Samuel   Brownback                 R
13  37         John      McCain                 R
14  38          Tom    Tancredo                 R
15  39  Christopher        Dodd          J.     D
16  41         Fred    Thompson          D.     R

<a id='step_1'></a>
# Step 1

We still need to load the data in the contributors table.

### Do the following:

* Load the data in the `contributors` table by loading the data from the
  `contributors.txt` file.  **You are not allowed to use a `for`-loop in this
  task (comprehensions are allowed)**.
* Display the contributors table.

In [92]:
f = open("contributors.txt")
next(f)
contributor_ls = [tuple(line.split("|")[1:]) for line in f]
f.close()

cursor.executemany('''INSERT INTO contributors 
(last_name, first_name, middle_name, street_1, street_2, 
city, state, zip, amount, date, candidate_id)
VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', contributor_ls)
db.commit()

contributors_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")]
query = '''SELECT * FROM contributors'''
viz_tables(contributors_cols, query)

      id    last_name   first_name middle_name                      street_1          street_2                city state        zip   amount        date  candidate_id
0      1         Agee       Steven                    549 Laurel Branch Road                                 Floyd    VA      24091   500.00  2007-06-30            16
1      2       Ahrens          Don                      4034 Rennellwood Way                            Pleasanton    CA      94566   250.00  2007-05-16            16
2      3       Ahrens          Don                      4034 Rennellwood Way                            Pleasanton    CA      94566    50.00  2007-06-18            16
3      4       Ahrens          Don                      4034 Rennellwood Way                            Pleasanton    CA      94566   100.00  2007-06-21            16
4      5         Akin      Charles                    10187 Sugar Creek Road                           Bentonville    AR      72712   100.00  2007-06-16            16
5      6         Akin         Mike                          181 Baywood Lane                            Monticello    AR      71655  1500.00  2007-05-18            16
6      7         Akin      Rebecca                          181 Baywood Lane                            Monticello    AR      71655   500.00  2007-05-18            16
7      8     Aldridge      Brittni              808 Capitol Square Place, SW                            Washington    DC      20024   250.00  2007-06-06            16
8      9        Allen      John D.                    1052 Cannon Mill Drive                         North Augusta    SC      29860  1000.00  2007-06-11            16
9     10        Allen      John D.                    1052 Cannon Mill Drive                         North Augusta    SC      29860  1300.00  2007-06-29            16
10    11      Allison      John W.                             P.O. Box 1089                                Conway    AR      72033  1000.00  2007-05-18            16
11    12      Allison      Rebecca                         3206 Summit Court                           Little Rock    AR      72227  1000.00  2007-04-25            16
12    13      Allison      Rebecca                         3206 Summit Court                           Little Rock    AR      72227   200.00  2007-06-12            16
13    14        Altes         R.D.                           8600 Moody Road                            Fort Smith    AR      72903  2300.00  2007-06-21            16
14    15       Andres         Dale                      1160 Glen Oaks Drive                       West Des Moines    IA      50266   250.00  2007-06-06            16
15    16      Anthony         John                     211 Long Island Drive                           Hot Springs    AR      71913  2300.00  2007-06-12            16
16    17     Arbogast       Robert                   12900 State Route 56 SE                        Mount Sterling    OH      43143   500.00  2007-04-08            16
17    18     Arbogast       Robert                   12900 State Route 56 SE                        Mount Sterling    OH      43143   100.00  2007-06-22            16
18    19        Ardle      William                         412 Dakota Avenue                           Springfield    OH      45504    50.00  2007-06-28            16
19    20         Atiq         Omar                       7200 S Hazel Street                            Pine Bluff    AR      71603  1000.00  2007-05-18            16
20    21         Atiq         Omar                       7200 S Hazel Street                            Pine Bluff    AR      71603  1000.00  2007-06-27            16
21    22        Baker        David                    2550 Adamsbrooke Drive                                Conway    AR      72034  2300.00  2007-04-11            16
22    23     Bancroft        David                     2934 Broderick Street                         San Francisco    CA      94123   250.00  2007-04-24            16
23    24        Banks      Charles                           P.O. Box 251310                           Little Rock    AR      72225  1000.00  2007-05-14            16
24    25       Barbee         John                      516 Kellyridge Drive                                  Apex    NC      27502   500.00  2007-05-23            16
25    26      Buckler        Steve                           24351 Armada Dr                            Dana Point    CA  926291306    50.00  2007-07-30            20
26    27      Buckler        Steve                           24351 Armada Dr                            Dana Point    CA  926291306    25.00  2007-08-16            20
27    28     Buckheit        Bruce                             8904 KAREN DR                               FAIRFAX    VA  220312731   100.00  2007-09-19            20
28    29       Buckel        Linda                             PO Box 683130                             Park City    UT  840683130  2300.00  2007-08-14            20
29    30       Buckel        Linda                             PO Box 683130                             Park City    UT  840683130 -2300.00  2007-08-14            20
30    31       Buckel        Linda                             PO Box 683130                             Park City    UT  840683130  4600.00  2007-08-14            20
31    32         Buck       Thomas                       4206 Terrace Street                           Kansas City    MO      64111   100.00  2007-09-25            20
32    33         Buck          Jay          K.   1855 Old Willow Rd Unit 322                            Northfield    IL  600932918   200.00  2007-09-12            20
33    34         Buck       Blaine           M                  45 Eaton Ave                                Camden    ME  048431752  2300.00  2007-09-30            20
34    35         Buck      Barbara                          1780 NE 138th St                           North Miami    FL  331811316    50.00  2007-09-13            20
35    36         Buck      Barbara                          1780 NE 138th St                           North Miami    FL  331811316    50.00  2007-07-19            20
36    37      Buchman       Mark M                           2530 Lawton Ave                       San Luis Obispo    CA  934015622   460.80  2007-07-18            20
37    38       Bucher          Ida           M              1400 Warnall Ave                           Los Angeles    CA  900245333   100.00  2007-07-10            20
38    39     Buchanek    Elizabeth                          7917 Kentbury Dr                              Bethesda    MD  208144615    50.00  2007-09-30            20
39    40     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303   500.00  2007-09-24            20
40    41     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303  -500.00  2007-09-24            20
41    42     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303   500.00  2007-09-24            20
42    43     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303   700.00  2007-08-28            20
43    44     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303  -700.00  2007-08-28            20
44    45     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303  1000.00  2007-08-28            20
45    46     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303  1300.00  2007-08-09            20
46    47     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303   200.00  2007-08-14            20
47    48     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303   500.00  2007-07-25            20
48    49     Buchanan         John                           4635 49th St NW                            Washington    DC  200164320   200.09  2007-09-23            20
49    50     Harrison         Ryan                               2247 3rd St                              La Verne    CA  917504918    25.00  2007-07-26            20
50    51        BYNUM      HERBERT                        332 SUNNYSIDE ROAD                                 TAMPA    FL  336177249  -500.00  2008-03-10            22
51    52     BYINGTON     MARGARET          E.     2633 MIDDLEBORO LANE N.E.                          GRAND RAPIDS    MI  495061254 -2300.00  2008-03-03            22
52    53        BYERS          BOB          A.          13170 TELFAIR AVENUE                                SYLMAR    CA  913423573 -2300.00  2008-03-07            22
53    54        BYERS       AUDREY                         2658 LADBROOK WAY                         THOUSAND OAKS    CA  913615073  -200.00  2008-03-07            22
54    55         BUSH      KRYSTIE                            P.O. BOX 61046                                DENVER    CO  802061046 -2300.00  2008-03-06            22
55    56         BUSH         ERIC                            P.O. BOX 61046                                DENVER    CO  802061046 -2300.00  2008-03-06            22
56    57       BURTON        SUSAN                     9338 DEER CREEK DRIVE                                 TAMPA    FL  336472286 -2300.00  2008-03-05            22
57    58       BURTON       STEVEN          G.         9938 DEER CREEK DRIVE                                 TAMPA    FL      33647 -2300.00  2008-03-05            22
58    59       BURTON        GLENN          M.         4404 CHARLESTON COURT                                 TAMPA    FL  336092620 -2300.00  2008-03-05            22
59    60    BURKHARDT        CRAIG          S.          910 15TH STREET N.W.                            WASHINGTON    DC  200052503  -500.00  2008-03-07            22
60    61    BURKHARDT        CRAIG          S.          910 15TH STREET N.W.                            WASHINGTON    DC  200052503 -1000.00  2008-03-07            22
61    62    BURKHARDT      BARBARA                      910 15TH STREET N.W.                            WASHINGTON    DC  200052503  -500.00  2008-03-07            22
62    63        BURKE      SUZANNE          M.                 3401 EVANSTON                               SEATTLE    WA  981038677  -700.00  2008-03-05            22
63    64        BURKE         GAIL                        165 E. 32ND STREET      APARTMENT 9E            NEW YORK    NY  100166014 -2000.00  2008-03-05            22
64    65        BURKE       DONALD          J.                     12 LOMPOC                    RANCHO SANTA MARGA    CA  926881817 -2300.00  2008-03-11            22
65    66      BURGERT       RONALD          L.           5723 PLUMTREE DRIVE                                DALLAS    TX  752524926 -1000.00  2008-03-05            22
66    67         BULL       BARTLE          B.            439 E. 51ST STREET                              NEW YORK    NY  100226473  -800.00  2008-03-10            22
67    68         BULL       BARTLE          B.            439 E. 51ST STREET                              NEW YORK    NY  100226473 -1000.00  2008-03-10            22
68    69     BUKOWSKI       DANIEL          J.          702 S. WRIGHT STREET                            NAPERVILLE    IL  605406736  -100.00  2008-03-10            22
69    70      BUISSON     MARGARET          A.               P.O. BOX 197029                            LOUISVILLE    KY  402597029  -200.00  2008-03-11            22
70    71      BUCKLEY       WALTER          W.             1635 COUNTRY ROAD                             BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
71    72      BUCKLEY     MARJORIE          B.             1635 COUNTRY ROAD                             BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
72    73        BRUNO         JOHN              10136 WINDERMERE CHASE BLVD.                                 GOTHA    FL  347344707 -2300.00  2008-03-06            22
73    74        BRUNO        IRENE              10136 WINDERMERE CHASE BLVD.                                 GOTHA    FL  347344707 -2300.00  2008-03-06            22
74    75        BROWN      TIMOTHY          J.           26826 MARLOWE COURT                       STEVENSON RANCH    CA  913811020 -2300.00  2008-03-06            22
75    76       Schuff        Bryan                          1700 W Sweden Rd                             Brockport    NY      14420   -25.00  2008-08-22            32
76    77        Hobbs        James                           229 Cherry Lane                           White House    TN      37188   -25.00  2008-08-19            32
77    78    Ranganath        Anoop                        2507 Willard Drive                       Charlottesville    VA      22903  -100.00  2008-04-21            32
78    79      Nystrom      Michael           A           93A Fairmont Street                             Arlington    MA      02474  -503.00  2008-04-21            32
79    80         Muse         Nina          Jo           2915 Toro Canyon Rd                                Austin    TX      78746   -50.00  2008-04-21            32
80    81      Waddell        James          L.             1823 Spel Lane SW                             Rochester    MN      55902   -28.00  2008-04-21            32
81    82       Brucks      William          C.                    PO Box 391                        Corona del Mar    CA      92625  -150.00  2008-04-21            32
82    83        Kuehn        David                    14502 West 93rd Street                                Lenexa    KS      66215  -330.00  2008-04-21            32
83    84      Verster     Jeanette          M.               7220 SW 61st St                                 Miami    FL  331431807 -1000.00  2008-04-21            32
84    85      Uihlein      Richard                        1396 N Waukegan Rd                           Lake Forest    IL  600451147 -2300.00  2008-04-21            32
85    86   Eskenberry       Robert           P                10960 Gray Cir                           Westminster    CO      80020  -223.00  2008-04-21            32
86    87    Froehling         Alan          L.               302 Broadway St                          Mount Vernon    IL  628645116  -844.80  2008-04-21            32
87    88       Duryea       Marcia          A.               123 Bayview Ave                            Amityville    NY      11701  -299.50  2008-04-21            32
88    89    Perreault       Louise                 503 Brockridge Hunt Drive                               Hampton    VA      23666   -34.08  2008-04-21            32
89    90    Rozenfeld        Timur                           57 Herbert Road                          Robbinsville    NJ      08691  -777.95  2008-04-21            32
90    91        Kazor  Christopher           M           707 Spindletree ave                            Naperville    IL      60565 -2592.00  2008-04-21            32
91    92       Lehner       Thomas          S.                2701 Star Lane                             Wadsworth    OH      44281  -200.00  2008-04-21            32
92    93      Plummer       Joseph                         587 Blake Hill Rd                           New Hampton    NH  032564424   -24.60  2008-04-21            32
93    94       Raught       Philip           M                 4714 Plum Way                            Pittsburgh    PA      15201 -1046.00  2008-04-21            32
94    95      Ferrara       Judith           D           1508 Waterford Road                               Yardley    PA      19067 -1100.00  2008-04-21            32
95    96      Johnson     Cathleen          E.       1003 Justin Ln Apt 2016                                Austin    TX  787572648   -14.76  2008-04-21            32
96    97      Sanford      Bradley                           940 Post St #43                         San Francisco    CA      94109   -24.53  2008-04-21            32
97    98      Gaarder        Bruce                               PO Box 4085                     Mountain Home AFB    ID      83648  -261.00  2008-04-21            32
98    99         Choe    Hyeokchan                            207 Bridle Way                              Fort Lee    NJ  070246302   -39.50  2008-04-21            32
99   100       Jacobs      Richard          G.                14337 Tawya Rd                          Apple Valley    CA  923075545 -1000.00  2008-04-21            32
100  101     Aaronson      Rebecca              2000 Village Green Dr Apt 12                            Mill Creek    WA  980125787   100.00  2008-02-08            34
101  102       Aarons       Elaine                481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA  026733300    25.00  2008-02-26            34
102  103       Aarons       Elaine                481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA  026733300    70.00  2008-02-25            34
103  104       Aarons       Elaine                481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA  026733300   100.00  2008-02-08            34
104  105        Aaron      Shirley                            101 Cherry Ave                                Havana    FL  323331311    50.00  2008-02-29            34
105  106        Aaron      Shirley                            101 Cherry Ave                                Havana    FL  323331311   100.00  2008-02-29            34
106  107     Aaronson      Rebecca              2000 Village Green Dr Apt 12                            Mill Creek    WA  980125787   100.00  2008-02-14            34
107  108        Aaron      Shirley                            101 Cherry Ave                                Havana    FL  323331311   100.00  2008-02-24            34
108  109        Aaron      Shirley                            101 Cherry Ave                                Havana    FL  323331311   100.00  2008-02-22            34
109  110        Aaron      Shirley                            101 Cherry Ave                                Havana    FL  323331311   100.00  2008-02-17            34
110  111         Reid    Elizabeth                            73 W Patent Rd  OPHIR FARM NORTH       Bedford Hills    NY  105072222  -350.00  2008-08-28            34
111  112        Reich       Thomas                              499 Park Ave                              New York    NY  100221240 -2300.00  2008-08-28            34
112  113        Aaron      Shirley                            101 Cherry Ave                                Havana    FL  323331311   100.00  2008-02-08            34
113  114        Aaron      Shirley                            101 Cherry Ave                                Havana    FL  323331311   100.00  2008-02-03            34
114  115        Aaron      Sharron                      1804 E Montgomery St                          Broken Arrow    OK  740121840   500.00  2008-02-09            34
115  116        Aaron     Patricia                            418 NW 35th St                         Oklahoma City    OK  731188602   200.00  2008-02-26            34
116  117        Aaron     Patricia                            418 NW 35th St                         Oklahoma City    OK  731188602   100.00  2008-02-12            34
117  118        Aaron          Jim                          2178 Fairway Cir                                Canton    MI  481885097   300.00  2008-02-07            34

<a id='step_2'></a>
# Step 2:  Various Queries

We can query our database for entries with certain characteristics.  For
example, we can query the `candidates` table for entries whose middle name
fields are not empty.

In [93]:
query = '''SELECT * FROM candidates WHERE middle_init <> ""'''
viz_tables(candidate_cols, query)

   id   first_name last_name middle_init party
0  34      Hillary   Clinton          R.     D
1  39  Christopher      Dodd          J.     D
2  41         Fred  Thompson          D.     R

We can also see how many entries satisfy the query:

In [94]:
print("{} candidates have a middle initial.".format(viz_tables(candidate_cols, query).shape[0]))

3 candidates have a middle initial.

This used the `shape` method on the returned `pandas` table. You'll get to
practice counting in SQL later.

### Do the following queries:

* Display the contributors where the state is "PA"
* Display the contributors where the amount contributed is greater than
  $\$1000.00$.
* Display the contributors from the state "UT" where the amount contributed is
  greater than $\$1000.00$.
* Display the contributors who didn't list their state
  - **Hint**:  Match `state` to the empty string
* Display the contributors from "WA" or "PA"
* Display the contributors who contributed between $\$100.00$ and $\$200.00$.
  - **Hint**: You can use the `BETWEEN 100.00 and 200.00` clause.

In [95]:
# Display the contributors where the state is "PA"
query_1 = '''SELECT * FROM contributors WHERE state = "PA"'''
viz_tables(contributors_cols, query_1)

    id last_name first_name middle_name             street_1 street_2        city state        zip  amount        date  candidate_id
0   71   BUCKLEY     WALTER          W.    1635 COUNTRY ROAD            BETHLEHEM    PA  180155718  -100.0  2008-03-05            22
1   72   BUCKLEY   MARJORIE          B.    1635 COUNTRY ROAD            BETHLEHEM    PA  180155718  -100.0  2008-03-05            22
2   94    Raught     Philip           M        4714 Plum Way           Pittsburgh    PA      15201 -1046.0  2008-04-21            32
3   95   Ferrara     Judith           D  1508 Waterford Road              Yardley    PA      19067 -1100.0  2008-04-21            32
4  166      ABEL       JOHN          H.    422 THOMAS STREET            BETHLEHEM    PA  180153316   200.0  2008-01-22            37

In [96]:
# Display the contributors where the amount contributed is greater than  $1000.00 .
query_2 = '''SELECT * FROM contributors WHERE amount > 1000'''
viz_tables(contributors_cols, query_2)

     id   last_name first_name middle_name                 street_1 street_2           city state        zip  amount        date  candidate_id
0     6        Akin       Mike                     181 Baywood Lane              Monticello    AR      71655  1500.0  2007-05-18            16
1    10       Allen    John D.               1052 Cannon Mill Drive           North Augusta    SC      29860  1300.0  2007-06-29            16
2    14       Altes       R.D.                      8600 Moody Road              Fort Smith    AR      72903  2300.0  2007-06-21            16
3    16     Anthony       John                211 Long Island Drive             Hot Springs    AR      71913  2300.0  2007-06-12            16
4    22       Baker      David               2550 Adamsbrooke Drive                  Conway    AR      72034  2300.0  2007-04-11            16
5    29      Buckel      Linda                        PO Box 683130               Park City    UT  840683130  2300.0  2007-08-14            20
6    31      Buckel      Linda                        PO Box 683130               Park City    UT  840683130  4600.0  2007-08-14            20
7    34        Buck     Blaine           M             45 Eaton Ave                  Camden    ME  048431752  2300.0  2007-09-30            20
8    46    Buchanan       John                      2025 NW 29th Rd              Boca Raton    FL  334316303  1300.0  2007-08-09            20
9   136  ABRAMOWITZ       NIRA                      411 HARBOR ROAD               SOUTHPORT    CT  068901376  2300.0  2007-09-14            35
10  160       ABATE      MARIA       ELENA  1291 NIGHTINGALE AVENUE           MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
11  175     ABRAHAM      SALEM          A.               P.O. BOX 7                CANADIAN    TX  790140007  1300.0  2008-01-30            37

In [97]:
# Display the contributors from the state "UT" where the amount contributed is greater than  $1000.00 .

query_3 = '''SELECT * FROM contributors WHERE state = "UT" and amount > 1000'''
viz_tables(contributors_cols, query_3)

   id last_name first_name middle_name       street_1 street_2       city state        zip  amount        date  candidate_id
0  29    Buckel      Linda              PO Box 683130           Park City    UT  840683130  2300.0  2007-08-14            20
1  31    Buckel      Linda              PO Box 683130           Park City    UT  840683130  4600.0  2007-08-14            20

In [98]:
# Display the contributors who didn't list their state
# Hint: Match state to the empty string

query_4 = '''SELECT * FROM contributors WHERE state = ""'''
viz_tables(contributors_cols, query_4)

    id last_name first_name middle_name       street_1 street_2        city state    zip  amount        date  candidate_id
0  126    BOURNE     TRAVIS              LAGE KAART 77           BRASSCHATT        02930  -500.0  2008-11-20            35

In [99]:
# Display the contributors from "WA" or "PA"

query_5 = '''SELECT * FROM contributors WHERE state = "WA" OR state = "PA"'''
viz_tables(contributors_cols, query_5)

    id last_name first_name middle_name                      street_1 street_2        city state        zip  amount        date  candidate_id
0   63     BURKE    SUZANNE          M.                 3401 EVANSTON              SEATTLE    WA  981038677  -700.0  2008-03-05            22
1   71   BUCKLEY     WALTER          W.             1635 COUNTRY ROAD            BETHLEHEM    PA  180155718  -100.0  2008-03-05            22
2   72   BUCKLEY   MARJORIE          B.             1635 COUNTRY ROAD            BETHLEHEM    PA  180155718  -100.0  2008-03-05            22
3   94    Raught     Philip           M                 4714 Plum Way           Pittsburgh    PA      15201 -1046.0  2008-04-21            32
4   95   Ferrara     Judith           D           1508 Waterford Road              Yardley    PA      19067 -1100.0  2008-04-21            32
5  101  Aaronson    Rebecca              2000 Village Green Dr Apt 12           Mill Creek    WA  980125787   100.0  2008-02-08            34
6  107  Aaronson    Rebecca              2000 Village Green Dr Apt 12           Mill Creek    WA  980125787   100.0  2008-02-14            34
7  166      ABEL       JOHN          H.             422 THOMAS STREET            BETHLEHEM    PA  180153316   200.0  2008-01-22            37

In [100]:
# Display the contributors who contributed between  $100.00  and  $200.00 .
# Hint: You can use the BETWEEN 100.00 and 200.00 clause.

query_6 = '''SELECT * FROM contributors WHERE amount BETWEEN 100.00 AND 200.00'''
viz_tables(contributors_cols, query_6)

     id  last_name first_name middle_name                      street_1 street_2             city state        zip  amount        date  candidate_id
0     4     Ahrens        Don                      4034 Rennellwood Way                Pleasanton    CA      94566   100.0  2007-06-21            16
1     5       Akin    Charles                    10187 Sugar Creek Road               Bentonville    AR      72712   100.0  2007-06-16            16
2    13    Allison    Rebecca                         3206 Summit Court               Little Rock    AR      72227   200.0  2007-06-12            16
3    18   Arbogast     Robert                   12900 State Route 56 SE            Mount Sterling    OH      43143   100.0  2007-06-22            16
4    28   Buckheit      Bruce                             8904 KAREN DR                   FAIRFAX    VA  220312731   100.0  2007-09-19            20
5    32       Buck     Thomas                       4206 Terrace Street               Kansas City    MO      64111   100.0  2007-09-25            20
6    33       Buck        Jay          K.   1855 Old Willow Rd Unit 322                Northfield    IL  600932918   200.0  2007-09-12            20
7    38     Bucher        Ida           M              1400 Warnall Ave               Los Angeles    CA  900245333   100.0  2007-07-10            20
8    47   Buchanan       John                           2025 NW 29th Rd                Boca Raton    FL  334316303   200.0  2007-08-14            20
9   101   Aaronson    Rebecca              2000 Village Green Dr Apt 12                Mill Creek    WA  980125787   100.0  2008-02-08            34
10  104     Aarons     Elaine                481 Buck Island Rd Apt 17A  APT 17A    West Yarmouth    MA  026733300   100.0  2008-02-08            34
11  106      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-29            34
12  107   Aaronson    Rebecca              2000 Village Green Dr Apt 12                Mill Creek    WA  980125787   100.0  2008-02-14            34
13  108      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-24            34
14  109      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-22            34
15  110      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-17            34
16  113      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-08            34
17  114      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-03            34
18  116      Aaron   Patricia                            418 NW 35th St             Oklahoma City    OK  731188602   200.0  2008-02-26            34
19  117      Aaron   Patricia                            418 NW 35th St             Oklahoma City    OK  731188602   100.0  2008-02-12            34
20  119      Aaron        Jim                          2178 Fairway Cir                    Canton    MI  481885097   200.0  2008-02-29            34
21  122      Aaron     Carole                               PO Box 1806                  Ogunquit    ME  039071806   100.0  2008-02-03            34
22  125   Aanonsen        Lin                           897 Raymond Ave                Saint Paul    MN  551141508   100.0  2008-02-08            34
23  130       ABTS      HENRY                            P. O. BOX 7299           INCLINE VILLAGE    NV  894527299   100.0  2007-07-13            35
24  134      ABREU      KEVIN          M.         1305 GARDEN GLEN LANE                  PEARLAND    TX  775816547   150.0  2007-08-09            35
25  147     ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E            SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35
26  149     ABBOTT     GERALD          F.            389 BENEFIT STREET                PROVIDENCE    RI  029032946   100.0  2007-09-15            35
27  150     ABBOTT     GERALD          F.            389 BENEFIT STREET                PROVIDENCE    RI  029032946   100.0  2007-08-15            35
28  154     ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET                 MONTCLAIR    CA  917632551   200.0  2008-01-31            37
29  155     ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET                 MONTCLAIR    CA  917632551   100.0  2008-01-08            37
30  158      ABBOT      DAVID          M.               56 SALEM STREET                   ANDOVER    MA  018102114   200.0  2008-01-21            37
31  162  ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD                   MENIFEE    CA  925849524   150.0  2008-01-28            37
32  166       ABEL       JOHN          H.             422 THOMAS STREET                 BETHLEHEM    PA  180153316   200.0  2008-01-22            37
33  167       ABEL    MARLING          L.          14 HANGING MOSS LANE                GREENVILLE    SC  296155069   100.0  2008-01-22            37
34  168       ABEL    RUDOLPH                          4532 OCEAN BLVD.    # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37
35  171   ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE                 FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37

<a id='step_3'></a>
# Step 3:  Sorting

It could be beneficial to sort by one of the attributes in the database.  The
following cell contains a basic sorting demo. Run it and try to understand what
happened.

In [101]:
query = '''SELECT * FROM candidates ORDER BY id DESC'''
viz_tables(candidate_cols, query)

    id   first_name   last_name middle_init party
0   41         Fred    Thompson          D.     R
1   39  Christopher        Dodd          J.     D
2   38          Tom    Tancredo                 R
3   37         John      McCain                 R
4   36       Samuel   Brownback                 R
5   35         Mitt      Romney                 R
6   34      Hillary     Clinton          R.     D
7   33       Joseph       Biden                 D
8   32          Ron        Paul                 R
9   31       Dennis    Kucinich                 D
10  30       Duncan      Hunter                 R
11  29         Bill  Richardson                 D
12  26         John     Edwards                 D
13  24         Mike      Gravel                 D
14  22      Rudolph    Giuliani                 R
15  20       Barack       Obama                 D
16  16         Mike    Huckabee                 R

### Do the following sorts on the `contributors` table:

* Sort the `candidates` table by `last_name`.
* Sort the `contributors` table by the `amount` in descending order where `amount`
  is restricted to be between $\$1000.00$ and $\$5000.00$.
  - **Hint:** In your SQL command, start with getting the amount between the
    specified range followed by the sort. This will all be done in one line.
* Sort the contributors who donated between $\$1000.00$ and $\$5000.00$ by
  `candidate_id` and then by `amount` in descending order.
  - **Hint**:  Multiple orderings can be accomplished by separating requests
    after `ORDER BY` with commas.
  - e.g. `ORDER BY amount ASC, last_name DESC`

In [102]:
# Sort the candidates table by last_name.

query_1 = '''SELECT * FROM candidates ORDER BY last_name DESC'''
viz_tables(candidate_cols, query_1)

    id   first_name   last_name middle_init party
0   41         Fred    Thompson          D.     R
1   38          Tom    Tancredo                 R
2   35         Mitt      Romney                 R
3   29         Bill  Richardson                 D
4   32          Ron        Paul                 R
5   20       Barack       Obama                 D
6   37         John      McCain                 R
7   31       Dennis    Kucinich                 D
8   30       Duncan      Hunter                 R
9   16         Mike    Huckabee                 R
10  24         Mike      Gravel                 D
11  22      Rudolph    Giuliani                 R
12  26         John     Edwards                 D
13  39  Christopher        Dodd          J.     D
14  34      Hillary     Clinton          R.     D
15  36       Samuel   Brownback                 R
16  33       Joseph       Biden                 D

In [103]:
# Sort the contributors table by the amount in descending order where amount is restricted to be between  $1000.00  and  $5000.00 .
# Hint: In your SQL command, start with getting the amount between the specified range followed by the sort. This will all be done in one line.

query_2 = '''SELECT * FROM contributors WHERE amount BETWEEN 1000.00 AND 5000.00 ORDER BY amount DESC'''
viz_tables(contributors_cols, query_2)

     id   last_name first_name middle_name                 street_1 street_2            city state        zip  amount        date  candidate_id
0    31      Buckel      Linda                        PO Box 683130                Park City    UT  840683130  4600.0  2007-08-14            20
1   160       ABATE      MARIA       ELENA  1291 NIGHTINGALE AVENUE            MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
2    14       Altes       R.D.                      8600 Moody Road               Fort Smith    AR      72903  2300.0  2007-06-21            16
3    16     Anthony       John                211 Long Island Drive              Hot Springs    AR      71913  2300.0  2007-06-12            16
4    22       Baker      David               2550 Adamsbrooke Drive                   Conway    AR      72034  2300.0  2007-04-11            16
5    29      Buckel      Linda                        PO Box 683130                Park City    UT  840683130  2300.0  2007-08-14            20
6    34        Buck     Blaine           M             45 Eaton Ave                   Camden    ME  048431752  2300.0  2007-09-30            20
7   136  ABRAMOWITZ       NIRA                      411 HARBOR ROAD                SOUTHPORT    CT  068901376  2300.0  2007-09-14            35
8     6        Akin       Mike                     181 Baywood Lane               Monticello    AR      71655  1500.0  2007-05-18            16
9    10       Allen    John D.               1052 Cannon Mill Drive            North Augusta    SC      29860  1300.0  2007-06-29            16
10   46    Buchanan       John                      2025 NW 29th Rd               Boca Raton    FL  334316303  1300.0  2007-08-09            20
11  175     ABRAHAM      SALEM          A.               P.O. BOX 7                 CANADIAN    TX  790140007  1300.0  2008-01-30            37
12    9       Allen    John D.               1052 Cannon Mill Drive            North Augusta    SC      29860  1000.0  2007-06-11            16
13   11     Allison    John W.                        P.O. Box 1089                   Conway    AR      72033  1000.0  2007-05-18            16
14   12     Allison    Rebecca                    3206 Summit Court              Little Rock    AR      72227  1000.0  2007-04-25            16
15   20        Atiq       Omar                  7200 S Hazel Street               Pine Bluff    AR      71603  1000.0  2007-05-18            16
16   21        Atiq       Omar                  7200 S Hazel Street               Pine Bluff    AR      71603  1000.0  2007-06-27            16
17   24       Banks    Charles                      P.O. Box 251310              Little Rock    AR      72225  1000.0  2007-05-14            16
18   45    Buchanan       John                      2025 NW 29th Rd               Boca Raton    FL  334316303  1000.0  2007-08-28            20
19  123       Aaron    Barbara                 2298 Pacific Ave # 6            San Francisco    CA  941151435  1000.0  2008-02-11            34
20  139  ABOUBAKARE      NASAR                1400 SAN MIGUEL DRIVE           CORONA DEL MAR    CA  926251300  1000.0  2007-07-09            35
21  157      ABBOTT       MIKE          E.         4516 OSPREY LNDG                NICEVILLE    FL  325786810  1000.0  2008-01-15            37
22  174     ABRAHAM      SALEM          A.               P.O. BOX 7                 CANADIAN    TX  790140007  1000.0  2008-01-17            37

In [104]:
# Sort the contributors who donated between  $1000.00  and  $5000.00  by candidate_id and then by amount in descending order.
# Hint: Multiple orderings can be accomplished by separating requests after ORDER BY with commas.
# e.g. ORDER BY amount ASC, last_name DESC


query_3 = '''SELECT * FROM contributors WHERE amount BETWEEN 1000.00 AND 5000.00 ORDER BY candidate_id, amount DESC'''
viz_tables(contributors_cols, query_3)

     id   last_name first_name middle_name                 street_1 street_2            city state        zip  amount        date  candidate_id
0    14       Altes       R.D.                      8600 Moody Road               Fort Smith    AR      72903  2300.0  2007-06-21            16
1    16     Anthony       John                211 Long Island Drive              Hot Springs    AR      71913  2300.0  2007-06-12            16
2    22       Baker      David               2550 Adamsbrooke Drive                   Conway    AR      72034  2300.0  2007-04-11            16
3     6        Akin       Mike                     181 Baywood Lane               Monticello    AR      71655  1500.0  2007-05-18            16
4    10       Allen    John D.               1052 Cannon Mill Drive            North Augusta    SC      29860  1300.0  2007-06-29            16
5     9       Allen    John D.               1052 Cannon Mill Drive            North Augusta    SC      29860  1000.0  2007-06-11            16
6    11     Allison    John W.                        P.O. Box 1089                   Conway    AR      72033  1000.0  2007-05-18            16
7    12     Allison    Rebecca                    3206 Summit Court              Little Rock    AR      72227  1000.0  2007-04-25            16
8    20        Atiq       Omar                  7200 S Hazel Street               Pine Bluff    AR      71603  1000.0  2007-05-18            16
9    21        Atiq       Omar                  7200 S Hazel Street               Pine Bluff    AR      71603  1000.0  2007-06-27            16
10   24       Banks    Charles                      P.O. Box 251310              Little Rock    AR      72225  1000.0  2007-05-14            16
11   31      Buckel      Linda                        PO Box 683130                Park City    UT  840683130  4600.0  2007-08-14            20
12   29      Buckel      Linda                        PO Box 683130                Park City    UT  840683130  2300.0  2007-08-14            20
13   34        Buck     Blaine           M             45 Eaton Ave                   Camden    ME  048431752  2300.0  2007-09-30            20
14   46    Buchanan       John                      2025 NW 29th Rd               Boca Raton    FL  334316303  1300.0  2007-08-09            20
15   45    Buchanan       John                      2025 NW 29th Rd               Boca Raton    FL  334316303  1000.0  2007-08-28            20
16  123       Aaron    Barbara                 2298 Pacific Ave # 6            San Francisco    CA  941151435  1000.0  2008-02-11            34
17  136  ABRAMOWITZ       NIRA                      411 HARBOR ROAD                SOUTHPORT    CT  068901376  2300.0  2007-09-14            35
18  139  ABOUBAKARE      NASAR                1400 SAN MIGUEL DRIVE           CORONA DEL MAR    CA  926251300  1000.0  2007-07-09            35
19  160       ABATE      MARIA       ELENA  1291 NIGHTINGALE AVENUE            MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
20  175     ABRAHAM      SALEM          A.               P.O. BOX 7                 CANADIAN    TX  790140007  1300.0  2008-01-30            37
21  157      ABBOTT       MIKE          E.         4516 OSPREY LNDG                NICEVILLE    FL  325786810  1000.0  2008-01-15            37
22  174     ABRAHAM      SALEM          A.               P.O. BOX 7                 CANADIAN    TX  790140007  1000.0  2008-01-17            37

<a id='step_4'></a>
# Step 4:  Selecting Columns

So far, we've been selecting all columns from a table (i.e. `SELECT * FROM`).
Often, we just want to select specific columns (e.g. `SELECT amount FROM`).

In [105]:
query = '''SELECT last_name, party FROM candidates'''
viz_tables(['last_name', 'party'], query)

     last_name party
0     Huckabee     R
1        Obama     D
2     Giuliani     R
3       Gravel     D
4      Edwards     D
5   Richardson     D
6       Hunter     R
7     Kucinich     D
8         Paul     R
9        Biden     D
10     Clinton     D
11      Romney     R
12   Brownback     R
13      McCain     R
14    Tancredo     R
15        Dodd     D
16    Thompson     R

Using the `DISTINCT` clause, you remove duplicate rows.

In [106]:
query = '''SELECT DISTINCT party FROM candidates'''
viz_tables(['party'], query)

  party
0     R
1     D

### Do the following:

* Get the first and last name of contributors.  Make sure each row has distinct
  values.

In [107]:
query = '''SELECT DISTINCT first_name, last_name FROM contributors'''
viz_tables(['first_name', 'last_name'], query)

      first_name    last_name
0         Steven         Agee
1            Don       Ahrens
2        Charles         Akin
3           Mike         Akin
4        Rebecca         Akin
5        Brittni     Aldridge
6        John D.        Allen
7        John W.      Allison
8        Rebecca      Allison
9           R.D.        Altes
10          Dale       Andres
11          John      Anthony
12        Robert     Arbogast
13       William        Ardle
14          Omar         Atiq
15         David        Baker
16         David     Bancroft
17       Charles        Banks
18          John       Barbee
19         Steve      Buckler
20         Bruce     Buckheit
21         Linda       Buckel
22        Thomas         Buck
23           Jay         Buck
24        Blaine         Buck
25       Barbara         Buck
26        Mark M      Buchman
27           Ida       Bucher
28     Elizabeth     Buchanek
29          John     Buchanan
30          Ryan     Harrison
31       HERBERT        BYNUM
32      MARGARET     BYINGTON
33           BOB        BYERS
34        AUDREY        BYERS
35       KRYSTIE         BUSH
36          ERIC         BUSH
37         SUSAN       BURTON
38        STEVEN       BURTON
39         GLENN       BURTON
40         CRAIG    BURKHARDT
41       BARBARA    BURKHARDT
42       SUZANNE        BURKE
43          GAIL        BURKE
44        DONALD        BURKE
45        RONALD      BURGERT
46        BARTLE         BULL
47        DANIEL     BUKOWSKI
48      MARGARET      BUISSON
49        WALTER      BUCKLEY
50      MARJORIE      BUCKLEY
51          JOHN        BRUNO
52         IRENE        BRUNO
53       TIMOTHY        BROWN
54         Bryan       Schuff
55         James        Hobbs
56         Anoop    Ranganath
57       Michael      Nystrom
58          Nina         Muse
59         James      Waddell
60       William       Brucks
61         David        Kuehn
62      Jeanette      Verster
63       Richard      Uihlein
64        Robert   Eskenberry
65          Alan    Froehling
66        Marcia       Duryea
67        Louise    Perreault
68         Timur    Rozenfeld
69   Christopher        Kazor
70        Thomas       Lehner
71        Joseph      Plummer
72        Philip       Raught
73        Judith      Ferrara
74      Cathleen      Johnson
75       Bradley      Sanford
76         Bruce      Gaarder
77     Hyeokchan         Choe
78       Richard       Jacobs
79       Rebecca     Aaronson
80        Elaine       Aarons
81       Shirley        Aaron
82     Elizabeth         Reid
83        Thomas        Reich
84       Sharron        Aaron
85      Patricia        Aaron
86           Jim        Aaron
87        Carole        Aaron
88       Barbara        Aaron
89           Lin     Aanonsen
90        TRAVIS       BOURNE
91         BRIAN      SECRIST
92        TRAVIS   TOLLESTRUP
93          DEAN       ACCORD
94         HENRY         ABTS
95         LANNY      ABSHIER
96         DIANA      ABSHIER
97         KEVIN        ABREU
98          NIRA   ABRAMOWITZ
99       MICHAEL       ABRAMS
100          KEN   ABRAMOWITZ
101        NASAR   ABOUBAKARE
102     PATRICIA        ABEGG
103       THOMAS      ABDELLA
104       WELDON       ABBOTT
105       GERALD       ABBOTT
106       ZAINUL       ABEDIN
107        SYBIL       ABBOTT
108       RONALD       ABBOTT
109       ROBERT       ABBOTT
110         MIKE       ABBOTT
111        DAVID        ABBOT
112      PAULINE         ABBO
113        MARIA        ABATE
114        PETER        ABAIR
115      SHIRLEY    ABACHERLI
116      CHARLES       AARONS
117         JOHN         ABEL
118      MARLING         ABEL
119      RUDOLPH         ABEL
120       RODNEY        ABELE
121        DENIS  ABERCROMBIE
122      MERRILL     ABESHAUS
123       GEORGE      ABRAHAM
124        PETER   ABRAHAMSON
125        SALEM      ABRAHAM

<a id='step_5'></a>
# Step 5:  Altering Tables

The `ALTER` clause allows us to modify tables in our database.  Here, we add a
new column to our candidates table called `full_name`.

In [108]:
cursor.execute('''ALTER TABLE candidates ADD COLUMN full_name TEXT''')
candidate_cols = [col[1] for col in cursor.execute("PRAGMA table_info(candidates)")]
viz_tables(candidate_cols, '''SELECT * FROM candidates''')

    id   first_name   last_name middle_init party full_name
0   16         Mike    Huckabee                 R      None
1   20       Barack       Obama                 D      None
2   22      Rudolph    Giuliani                 R      None
3   24         Mike      Gravel                 D      None
4   26         John     Edwards                 D      None
5   29         Bill  Richardson                 D      None
6   30       Duncan      Hunter                 R      None
7   31       Dennis    Kucinich                 D      None
8   32          Ron        Paul                 R      None
9   33       Joseph       Biden                 D      None
10  34      Hillary     Clinton          R.     D      None
11  35         Mitt      Romney                 R      None
12  36       Samuel   Brownback                 R      None
13  37         John      McCain                 R      None
14  38          Tom    Tancredo                 R      None
15  39  Christopher        Dodd          J.     D      None
16  41         Fred    Thompson          D.     R      None

What if we want to rename or delete a column?  It can't be done with `SQLite`
with a single command.  We need to follow some roundabout steps (see [`SQLite`
ALTER TABLE](http://www.sqlitetutorial.net/sqlite-alter-table/)).  We won't
consider this case at the moment.

For now, let's put a few commands together to populate the `full_name` column.

In [109]:
candidate_cols = [col[1] for col in cursor.execute("PRAGMA table_info(candidates)")] # regenerate columns with full_name
query = '''SELECT id, last_name, first_name FROM candidates''' # Select a few columns
full_name_and_id = [(attr[1] + ", " + attr[2], attr[0]) for attr in cursor.execute(query).fetchall()] # List of tuples: (full_name, id)

update = '''UPDATE candidates SET full_name = ? WHERE id = ?''' # Update the table
for rows in full_name_and_id:
    cursor.execute(update, rows)

query = '''SELECT * FROM candidates'''
viz_tables(candidate_cols, query)

    id   first_name   last_name middle_init party          full_name
0   16         Mike    Huckabee                 R     Huckabee, Mike
1   20       Barack       Obama                 D      Obama, Barack
2   22      Rudolph    Giuliani                 R  Giuliani, Rudolph
3   24         Mike      Gravel                 D       Gravel, Mike
4   26         John     Edwards                 D      Edwards, John
5   29         Bill  Richardson                 D   Richardson, Bill
6   30       Duncan      Hunter                 R     Hunter, Duncan
7   31       Dennis    Kucinich                 D   Kucinich, Dennis
8   32          Ron        Paul                 R          Paul, Ron
9   33       Joseph       Biden                 D      Biden, Joseph
10  34      Hillary     Clinton          R.     D   Clinton, Hillary
11  35         Mitt      Romney                 R       Romney, Mitt
12  36       Samuel   Brownback                 R  Brownback, Samuel
13  37         John      McCain                 R       McCain, John
14  38          Tom    Tancredo                 R      Tancredo, Tom
15  39  Christopher        Dodd          J.     D  Dodd, Christopher
16  41         Fred    Thompson          D.     R     Thompson, Fred

Here's another update, this time on an existing column.

In [110]:
update = '''UPDATE candidates SET full_name = "WINNER" WHERE last_name = "Obama"'''
cursor.execute(update)
update = '''UPDATE candidates SET full_name = "RUNNER-UP" WHERE last_name = "McCain"'''
cursor.execute(update)
viz_tables(candidate_cols, query)

    id   first_name   last_name middle_init party          full_name
0   16         Mike    Huckabee                 R     Huckabee, Mike
1   20       Barack       Obama                 D             WINNER
2   22      Rudolph    Giuliani                 R  Giuliani, Rudolph
3   24         Mike      Gravel                 D       Gravel, Mike
4   26         John     Edwards                 D      Edwards, John
5   29         Bill  Richardson                 D   Richardson, Bill
6   30       Duncan      Hunter                 R     Hunter, Duncan
7   31       Dennis    Kucinich                 D   Kucinich, Dennis
8   32          Ron        Paul                 R          Paul, Ron
9   33       Joseph       Biden                 D      Biden, Joseph
10  34      Hillary     Clinton          R.     D   Clinton, Hillary
11  35         Mitt      Romney                 R       Romney, Mitt
12  36       Samuel   Brownback                 R  Brownback, Samuel
13  37         John      McCain                 R          RUNNER-UP
14  38          Tom    Tancredo                 R      Tancredo, Tom
15  39  Christopher        Dodd          J.     D  Dodd, Christopher
16  41         Fred    Thompson          D.     R     Thompson, Fred

### Do the following:

* Add a new column to the contributors table called `full_name`.  The value in
  that column should be in the form `last_name, first_name`.
* Change the value in the `full_name` column to the string `"Too Much"` if
  someone donated more than $\$1000.00$.

In [111]:
cursor.execute('''ALTER TABLE contributors ADD COLUMN full_name TEXT''')
contributors_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")]

query = '''SELECT id, last_name, first_name FROM contributors''' # Select a few columns
full_name_and_id = [(attr[1] + ", " + attr[2], attr[0]) for attr in cursor.execute(query).fetchall()] # List of tuples: (full_name, id)

update = '''UPDATE contributors SET full_name = ? WHERE id = ?''' # Update the table
for rows in full_name_and_id:
    cursor.execute(update, rows)

In [112]:
query = '''SELECT * FROM contributors'''
viz_tables(contributors_cols, query)

      id    last_name   first_name middle_name                      street_1          street_2                city state        zip   amount        date  candidate_id            full_name
0      1         Agee       Steven                    549 Laurel Branch Road                                 Floyd    VA      24091   500.00  2007-06-30            16         Agee, Steven
1      2       Ahrens          Don                      4034 Rennellwood Way                            Pleasanton    CA      94566   250.00  2007-05-16            16          Ahrens, Don
2      3       Ahrens          Don                      4034 Rennellwood Way                            Pleasanton    CA      94566    50.00  2007-06-18            16          Ahrens, Don
3      4       Ahrens          Don                      4034 Rennellwood Way                            Pleasanton    CA      94566   100.00  2007-06-21            16          Ahrens, Don
4      5         Akin      Charles                    10187 Sugar Creek Road                           Bentonville    AR      72712   100.00  2007-06-16            16        Akin, Charles
5      6         Akin         Mike                          181 Baywood Lane                            Monticello    AR      71655  1500.00  2007-05-18            16           Akin, Mike
6      7         Akin      Rebecca                          181 Baywood Lane                            Monticello    AR      71655   500.00  2007-05-18            16        Akin, Rebecca
7      8     Aldridge      Brittni              808 Capitol Square Place, SW                            Washington    DC      20024   250.00  2007-06-06            16    Aldridge, Brittni
8      9        Allen      John D.                    1052 Cannon Mill Drive                         North Augusta    SC      29860  1000.00  2007-06-11            16       Allen, John D.
9     10        Allen      John D.                    1052 Cannon Mill Drive                         North Augusta    SC      29860  1300.00  2007-06-29            16       Allen, John D.
10    11      Allison      John W.                             P.O. Box 1089                                Conway    AR      72033  1000.00  2007-05-18            16     Allison, John W.
11    12      Allison      Rebecca                         3206 Summit Court                           Little Rock    AR      72227  1000.00  2007-04-25            16     Allison, Rebecca
12    13      Allison      Rebecca                         3206 Summit Court                           Little Rock    AR      72227   200.00  2007-06-12            16     Allison, Rebecca
13    14        Altes         R.D.                           8600 Moody Road                            Fort Smith    AR      72903  2300.00  2007-06-21            16          Altes, R.D.
14    15       Andres         Dale                      1160 Glen Oaks Drive                       West Des Moines    IA      50266   250.00  2007-06-06            16         Andres, Dale
15    16      Anthony         John                     211 Long Island Drive                           Hot Springs    AR      71913  2300.00  2007-06-12            16        Anthony, John
16    17     Arbogast       Robert                   12900 State Route 56 SE                        Mount Sterling    OH      43143   500.00  2007-04-08            16     Arbogast, Robert
17    18     Arbogast       Robert                   12900 State Route 56 SE                        Mount Sterling    OH      43143   100.00  2007-06-22            16     Arbogast, Robert
18    19        Ardle      William                         412 Dakota Avenue                           Springfield    OH      45504    50.00  2007-06-28            16       Ardle, William
19    20         Atiq         Omar                       7200 S Hazel Street                            Pine Bluff    AR      71603  1000.00  2007-05-18            16           Atiq, Omar
20    21         Atiq         Omar                       7200 S Hazel Street                            Pine Bluff    AR      71603  1000.00  2007-06-27            16           Atiq, Omar
21    22        Baker        David                    2550 Adamsbrooke Drive                                Conway    AR      72034  2300.00  2007-04-11            16         Baker, David
22    23     Bancroft        David                     2934 Broderick Street                         San Francisco    CA      94123   250.00  2007-04-24            16      Bancroft, David
23    24        Banks      Charles                           P.O. Box 251310                           Little Rock    AR      72225  1000.00  2007-05-14            16       Banks, Charles
24    25       Barbee         John                      516 Kellyridge Drive                                  Apex    NC      27502   500.00  2007-05-23            16         Barbee, John
25    26      Buckler        Steve                           24351 Armada Dr                            Dana Point    CA  926291306    50.00  2007-07-30            20       Buckler, Steve
26    27      Buckler        Steve                           24351 Armada Dr                            Dana Point    CA  926291306    25.00  2007-08-16            20       Buckler, Steve
27    28     Buckheit        Bruce                             8904 KAREN DR                               FAIRFAX    VA  220312731   100.00  2007-09-19            20      Buckheit, Bruce
28    29       Buckel        Linda                             PO Box 683130                             Park City    UT  840683130  2300.00  2007-08-14            20        Buckel, Linda
29    30       Buckel        Linda                             PO Box 683130                             Park City    UT  840683130 -2300.00  2007-08-14            20        Buckel, Linda
30    31       Buckel        Linda                             PO Box 683130                             Park City    UT  840683130  4600.00  2007-08-14            20        Buckel, Linda
31    32         Buck       Thomas                       4206 Terrace Street                           Kansas City    MO      64111   100.00  2007-09-25            20         Buck, Thomas
32    33         Buck          Jay          K.   1855 Old Willow Rd Unit 322                            Northfield    IL  600932918   200.00  2007-09-12            20            Buck, Jay
33    34         Buck       Blaine           M                  45 Eaton Ave                                Camden    ME  048431752  2300.00  2007-09-30            20         Buck, Blaine
34    35         Buck      Barbara                          1780 NE 138th St                           North Miami    FL  331811316    50.00  2007-09-13            20        Buck, Barbara
35    36         Buck      Barbara                          1780 NE 138th St                           North Miami    FL  331811316    50.00  2007-07-19            20        Buck, Barbara
36    37      Buchman       Mark M                           2530 Lawton Ave                       San Luis Obispo    CA  934015622   460.80  2007-07-18            20      Buchman, Mark M
37    38       Bucher          Ida           M              1400 Warnall Ave                           Los Angeles    CA  900245333   100.00  2007-07-10            20          Bucher, Ida
38    39     Buchanek    Elizabeth                          7917 Kentbury Dr                              Bethesda    MD  208144615    50.00  2007-09-30            20  Buchanek, Elizabeth
39    40     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303   500.00  2007-09-24            20       Buchanan, John
40    41     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303  -500.00  2007-09-24            20       Buchanan, John
41    42     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303   500.00  2007-09-24            20       Buchanan, John
42    43     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303   700.00  2007-08-28            20       Buchanan, John
43    44     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303  -700.00  2007-08-28            20       Buchanan, John
44    45     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303  1000.00  2007-08-28            20       Buchanan, John
45    46     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303  1300.00  2007-08-09            20       Buchanan, John
46    47     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303   200.00  2007-08-14            20       Buchanan, John
47    48     Buchanan         John                           2025 NW 29th Rd                            Boca Raton    FL  334316303   500.00  2007-07-25            20       Buchanan, John
48    49     Buchanan         John                           4635 49th St NW                            Washington    DC  200164320   200.09  2007-09-23            20       Buchanan, John
49    50     Harrison         Ryan                               2247 3rd St                              La Verne    CA  917504918    25.00  2007-07-26            20       Harrison, Ryan
50    51        BYNUM      HERBERT                        332 SUNNYSIDE ROAD                                 TAMPA    FL  336177249  -500.00  2008-03-10            22       BYNUM, HERBERT
51    52     BYINGTON     MARGARET          E.     2633 MIDDLEBORO LANE N.E.                          GRAND RAPIDS    MI  495061254 -2300.00  2008-03-03            22   BYINGTON, MARGARET
52    53        BYERS          BOB          A.          13170 TELFAIR AVENUE                                SYLMAR    CA  913423573 -2300.00  2008-03-07            22           BYERS, BOB
53    54        BYERS       AUDREY                         2658 LADBROOK WAY                         THOUSAND OAKS    CA  913615073  -200.00  2008-03-07            22        BYERS, AUDREY
54    55         BUSH      KRYSTIE                            P.O. BOX 61046                                DENVER    CO  802061046 -2300.00  2008-03-06            22        BUSH, KRYSTIE
55    56         BUSH         ERIC                            P.O. BOX 61046                                DENVER    CO  802061046 -2300.00  2008-03-06            22           BUSH, ERIC
56    57       BURTON        SUSAN                     9338 DEER CREEK DRIVE                                 TAMPA    FL  336472286 -2300.00  2008-03-05            22        BURTON, SUSAN
57    58       BURTON       STEVEN          G.         9938 DEER CREEK DRIVE                                 TAMPA    FL      33647 -2300.00  2008-03-05            22       BURTON, STEVEN
58    59       BURTON        GLENN          M.         4404 CHARLESTON COURT                                 TAMPA    FL  336092620 -2300.00  2008-03-05            22        BURTON, GLENN
59    60    BURKHARDT        CRAIG          S.          910 15TH STREET N.W.                            WASHINGTON    DC  200052503  -500.00  2008-03-07            22     BURKHARDT, CRAIG
60    61    BURKHARDT        CRAIG          S.          910 15TH STREET N.W.                            WASHINGTON    DC  200052503 -1000.00  2008-03-07            22     BURKHARDT, CRAIG
61    62    BURKHARDT      BARBARA                      910 15TH STREET N.W.                            WASHINGTON    DC  200052503  -500.00  2008-03-07            22   BURKHARDT, BARBARA
62    63        BURKE      SUZANNE          M.                 3401 EVANSTON                               SEATTLE    WA  981038677  -700.00  2008-03-05            22       BURKE, SUZANNE
63    64        BURKE         GAIL                        165 E. 32ND STREET      APARTMENT 9E            NEW YORK    NY  100166014 -2000.00  2008-03-05            22          BURKE, GAIL
64    65        BURKE       DONALD          J.                     12 LOMPOC                    RANCHO SANTA MARGA    CA  926881817 -2300.00  2008-03-11            22        BURKE, DONALD
65    66      BURGERT       RONALD          L.           5723 PLUMTREE DRIVE                                DALLAS    TX  752524926 -1000.00  2008-03-05            22      BURGERT, RONALD
66    67         BULL       BARTLE          B.            439 E. 51ST STREET                              NEW YORK    NY  100226473  -800.00  2008-03-10            22         BULL, BARTLE
67    68         BULL       BARTLE          B.            439 E. 51ST STREET                              NEW YORK    NY  100226473 -1000.00  2008-03-10            22         BULL, BARTLE
68    69     BUKOWSKI       DANIEL          J.          702 S. WRIGHT STREET                            NAPERVILLE    IL  605406736  -100.00  2008-03-10            22     BUKOWSKI, DANIEL
69    70      BUISSON     MARGARET          A.               P.O. BOX 197029                            LOUISVILLE    KY  402597029  -200.00  2008-03-11            22    BUISSON, MARGARET
70    71      BUCKLEY       WALTER          W.             1635 COUNTRY ROAD                             BETHLEHEM    PA  180155718  -100.00  2008-03-05            22      BUCKLEY, WALTER
71    72      BUCKLEY     MARJORIE          B.             1635 COUNTRY ROAD                             BETHLEHEM    PA  180155718  -100.00  2008-03-05            22    BUCKLEY, MARJORIE
72    73        BRUNO         JOHN              10136 WINDERMERE CHASE BLVD.                                 GOTHA    FL  347344707 -2300.00  2008-03-06            22          BRUNO, JOHN
73    74        BRUNO        IRENE              10136 WINDERMERE CHASE BLVD.                                 GOTHA    FL  347344707 -2300.00  2008-03-06            22         BRUNO, IRENE
74    75        BROWN      TIMOTHY          J.           26826 MARLOWE COURT                       STEVENSON RANCH    CA  913811020 -2300.00  2008-03-06            22       BROWN, TIMOTHY
75    76       Schuff        Bryan                          1700 W Sweden Rd                             Brockport    NY      14420   -25.00  2008-08-22            32        Schuff, Bryan
76    77        Hobbs        James                           229 Cherry Lane                           White House    TN      37188   -25.00  2008-08-19            32         Hobbs, James
77    78    Ranganath        Anoop                        2507 Willard Drive                       Charlottesville    VA      22903  -100.00  2008-04-21            32     Ranganath, Anoop
78    79      Nystrom      Michael           A           93A Fairmont Street                             Arlington    MA      02474  -503.00  2008-04-21            32     Nystrom, Michael
79    80         Muse         Nina          Jo           2915 Toro Canyon Rd                                Austin    TX      78746   -50.00  2008-04-21            32           Muse, Nina
80    81      Waddell        James          L.             1823 Spel Lane SW                             Rochester    MN      55902   -28.00  2008-04-21            32       Waddell, James
81    82       Brucks      William          C.                    PO Box 391                        Corona del Mar    CA      92625  -150.00  2008-04-21            32      Brucks, William
82    83        Kuehn        David                    14502 West 93rd Street                                Lenexa    KS      66215  -330.00  2008-04-21            32         Kuehn, David
83    84      Verster     Jeanette          M.               7220 SW 61st St                                 Miami    FL  331431807 -1000.00  2008-04-21            32    Verster, Jeanette
84    85      Uihlein      Richard                        1396 N Waukegan Rd                           Lake Forest    IL  600451147 -2300.00  2008-04-21            32     Uihlein, Richard
85    86   Eskenberry       Robert           P                10960 Gray Cir                           Westminster    CO      80020  -223.00  2008-04-21            32   Eskenberry, Robert
86    87    Froehling         Alan          L.               302 Broadway St                          Mount Vernon    IL  628645116  -844.80  2008-04-21            32      Froehling, Alan
87    88       Duryea       Marcia          A.               123 Bayview Ave                            Amityville    NY      11701  -299.50  2008-04-21            32       Duryea, Marcia
88    89    Perreault       Louise                 503 Brockridge Hunt Drive                               Hampton    VA      23666   -34.08  2008-04-21            32    Perreault, Louise
89    90    Rozenfeld        Timur                           57 Herbert Road                          Robbinsville    NJ      08691  -777.95  2008-04-21            32     Rozenfeld, Timur
90    91        Kazor  Christopher           M           707 Spindletree ave                            Naperville    IL      60565 -2592.00  2008-04-21            32   Kazor, Christopher
91    92       Lehner       Thomas          S.                2701 Star Lane                             Wadsworth    OH      44281  -200.00  2008-04-21            32       Lehner, Thomas
92    93      Plummer       Joseph                         587 Blake Hill Rd                           New Hampton    NH  032564424   -24.60  2008-04-21            32      Plummer, Joseph
93    94       Raught       Philip           M                 4714 Plum Way                            Pittsburgh    PA      15201 -1046.00  2008-04-21            32       Raught, Philip
94    95      Ferrara       Judith           D           1508 Waterford Road                               Yardley    PA      19067 -1100.00  2008-04-21            32      Ferrara, Judith
95    96      Johnson     Cathleen          E.       1003 Justin Ln Apt 2016                                Austin    TX  787572648   -14.76  2008-04-21            32    Johnson, Cathleen
96    97      Sanford      Bradley                           940 Post St #43                         San Francisco    CA      94109   -24.53  2008-04-21            32     Sanford, Bradley
97    98      Gaarder        Bruce                               PO Box 4085                     Mountain Home AFB    ID      83648  -261.00  2008-04-21            32       Gaarder, Bruce
98    99         Choe    Hyeokchan                            207 Bridle Way                              Fort Lee    NJ  070246302   -39.50  2008-04-21            32      Choe, Hyeokchan
99   100       Jacobs      Richard          G.                14337 Tawya Rd                          Apple Valley    CA  923075545 -1000.00  2008-04-21            32      Jacobs, Richard
100  101     Aaronson      Rebecca              2000 Village Green Dr Apt 12                            Mill Creek    WA  980125787   100.00  2008-02-08            34    Aaronson, Rebecca
101  102       Aarons       Elaine                481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA  026733300    25.00  2008-02-26            34       Aarons, Elaine
102  103       Aarons       Elaine                481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA  026733300    70.00  2008-02-25            34       Aarons, Elaine
103  104       Aarons       Elaine                481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA  026733300   100.00  2008-02-08            34       Aarons, Elaine
104  105        Aaron      Shirley                            101 Cherry Ave                                Havana    FL  323331311    50.00  2008-02-29            34       Aaron, Shirley

In [113]:
# Change the value in the full_name column to the string "Too Much" if someone donated more than  $1000.00 .

update = '''UPDATE contributors SET full_name = "Too Much" WHERE amount > 1000'''
cursor.execute(update)

<a id='step_6'></a>
# Step 6: Aggregation

You can perform reduction operations on the values in the database.  For
example, you can compute the maximum, minimum, sum or the total number from
multiple input values. Here's a little example:

In [114]:
contributor_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")] # You've already done this part in your solution.
function = '''SELECT *, MAX(amount) AS max_amount FROM contributors'''
viz_tables(contributor_cols, function)

   id last_name first_name middle_name       street_1 street_2       city state        zip  amount        date  candidate_id full_name
0  31    Buckel      Linda              PO Box 683130           Park City    UT  840683130  4600.0  2007-08-14            20  Too Much

### Do the following:

* Modify the demo to only output the max amount.
    * **Hints:**
        - Instead of using `SELECT *, MAX(amount) ...` you can try `SELECT
          MAX(amount) ...`
        - You will want to use `cursor.execute()` here and then `fetchall()`.
        - Do not display your results in a table. It is sufficient to write
          the answer out to the screen as a single number.
* Count how many donations there were above $\$1000.00$.
    * **Hint:** There is a `COUNT` function.
* Calculate the average *positive* donation.
    * **Hint:** There is an `AVG` function.
* Calculate the average contribution from each state and display in a table.
  Restrict to positive values again.
  - **Hint**:  Use code that looks like: `"SELECT state,SUM(amount) FROM
    contributors GROUP BY state"`.

<a id='step_7'></a>
# Step 7: DELETE

We have already noted that `SQLite` can't drop columns in a straightforward
manner.  However, it can delete rows quite simply.  Here's the syntax:

In [115]:
# Step 6
# Modify the demo to only output the max amount.
function = '''SELECT MAX(amount) AS max_amount FROM contributors'''
cursor.execute(function).fetchall()

[(4600.0,)]

In [116]:
# Count how many donations there were above  $1000.00 

function = '''SELECT COUNT(id) FROM contributors WHERE amount > 1000'''
cursor.execute(function).fetchall()

[(12,)]

In [117]:
# Calculate the average positive donation.

function = '''SELECT AVG(amount) FROM contributors WHERE amount > 0'''
cursor.execute(function).fetchall()

[(480.6913675213675,)]

In [118]:
# Calculate the average contribution from each state and display in a table. Restrict to positive values again


function = '''SELECT AVG(amount) AS average, state FROM contributors WHERE amount > 0 GROUP BY state '''
viz_tables(['average', 'state'], function)

        average state
0    403.333333    AK
1   1183.333333    AR
2    120.000000    AZ
3    284.053333    CA
4   2300.000000    CT
5    225.045000    DC
6    483.333333    FL
7    250.000000    IA
8    125.000000    IL
9    650.000000    LA
10    84.000000    MA
11   150.000000    MD
12   630.000000    ME
13   258.750000    MI
14   175.000000    MN
15   100.000000    MO
16   500.000000    NC
17   181.250000    NV
18   300.000000    NY
19   216.666667    OH
20   266.666667    OK
21   200.000000    PA
22   100.000000    RI
23   800.000000    SC
24   508.333333    TX
25   735.000000    UT
26   216.666667    VA
27   100.000000    WA

In [119]:
deletion = '''DELETE FROM contributors WHERE last_name = "Ahrens" '''

cursor.execute(deletion)

In [120]:
query = '''SELECT * FROM contributors WHERE last_name = "Ahrens"'''
viz_tables(contributors_cols, query)

Empty DataFrame
Columns: [id, last_name, first_name, middle_name, street_1, street_2, city, state, zip, amount, date, candidate_id, full_name]
Index: []

### Do the following:

* Delete rows in the `contributors` table with last name "Ahrens".

<a id='step_8'></a>
# Step 8:  LIMIT

The `LIMIT` clause offers convenient functionality.  It allows you to constrain
the number of rows returned by your query.  It shows up in many guises.

In [121]:
query = '''SELECT * FROM candidates LIMIT 3'''
viz_tables(candidate_cols, query)

   id first_name last_name middle_init party          full_name
0  16       Mike  Huckabee                 R     Huckabee, Mike
1  20     Barack     Obama                 D             WINNER
2  22    Rudolph  Giuliani                 R  Giuliani, Rudolph

In [122]:
query = '''SELECT * FROM candidates LIMIT 4 OFFSET 5'''
viz_tables(candidate_cols, query)

   id first_name   last_name middle_init party         full_name
0  29       Bill  Richardson                 D  Richardson, Bill
1  30     Duncan      Hunter                 R    Hunter, Duncan
2  31     Dennis    Kucinich                 D  Kucinich, Dennis
3  32        Ron        Paul                 R         Paul, Ron

In [123]:
query = '''SELECT * FROM candidates ORDER BY last_name LIMIT 4 OFFSET 5'''
viz_tables(candidate_cols, query)

   id first_name last_name middle_init party          full_name
0  22    Rudolph  Giuliani                 R  Giuliani, Rudolph
1  24       Mike    Gravel                 D       Gravel, Mike
2  16       Mike  Huckabee                 R     Huckabee, Mike
3  30     Duncan    Hunter                 R     Hunter, Duncan

### Do the following:

* Query and display the ten most generous donors.
* Query and display the ten least generous donors who donated a positive amount
  of money (since the data we have has some negative numbers in it...).

In [124]:
# Query and display the ten most generous donors.

query = '''SELECT * FROM contributors ORDER BY amount DESC LIMIT 10'''
viz_tables(contributors_cols, query)

    id   last_name first_name middle_name                 street_1 street_2           city state        zip  amount        date  candidate_id full_name
0   31      Buckel      Linda                        PO Box 683130               Park City    UT  840683130  4600.0  2007-08-14            20  Too Much
1  160       ABATE      MARIA       ELENA  1291 NIGHTINGALE AVENUE           MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37  Too Much
2   14       Altes       R.D.                      8600 Moody Road              Fort Smith    AR      72903  2300.0  2007-06-21            16  Too Much
3   16     Anthony       John                211 Long Island Drive             Hot Springs    AR      71913  2300.0  2007-06-12            16  Too Much
4   22       Baker      David               2550 Adamsbrooke Drive                  Conway    AR      72034  2300.0  2007-04-11            16  Too Much
5   29      Buckel      Linda                        PO Box 683130               Park City    UT  840683130  2300.0  2007-08-14            20  Too Much
6   34        Buck     Blaine           M             45 Eaton Ave                  Camden    ME  048431752  2300.0  2007-09-30            20  Too Much
7  136  ABRAMOWITZ       NIRA                      411 HARBOR ROAD               SOUTHPORT    CT  068901376  2300.0  2007-09-14            35  Too Much
8    6        Akin       Mike                     181 Baywood Lane              Monticello    AR      71655  1500.0  2007-05-18            16  Too Much
9   10       Allen    John D.               1052 Cannon Mill Drive           North Augusta    SC      29860  1300.0  2007-06-29            16  Too Much

In [125]:
# Query and display the ten least generous donors who donated a positive amount of money


query = '''SELECT * FROM contributors WHERE amount > 0 ORDER BY amount ASC LIMIT 10'''
viz_tables(contributors_cols, query)

    id last_name first_name middle_name                    street_1 street_2            city state        zip  amount        date  candidate_id        full_name
0   27   Buckler      Steve                         24351 Armada Dr               Dana Point    CA  926291306    25.0  2007-08-16            20   Buckler, Steve
1   50  Harrison       Ryan                             2247 3rd St                 La Verne    CA  917504918    25.0  2007-07-26            20   Harrison, Ryan
2  102    Aarons     Elaine              481 Buck Island Rd Apt 17A  APT 17A   West Yarmouth    MA  026733300    25.0  2008-02-26            34   Aarons, Elaine
3  141     ABEGG   PATRICIA          T.             1862 E. 5150 S.           SALT LAKE CITY    UT  841176911    25.0  2007-09-17            35  ABEGG, PATRICIA
4  144     ABEGG   PATRICIA          T.             1862 E. 5150 S.           SALT LAKE CITY    UT  841176911    25.0  2007-08-06            35  ABEGG, PATRICIA
5  145     ABEGG   PATRICIA          T.             1862 E. 5150 S.           SALT LAKE CITY    UT  841176911    25.0  2007-07-10            35  ABEGG, PATRICIA
6  161     ABAIR      PETER                         40 EVANS STREET                WATERTOWN    MA  024722150    25.0  2008-01-09            37     ABAIR, PETER
7  159      ABBO    PAULINE     MORENCY            10720 JACOB LANE               WHITE LAKE    MI  483862274    35.0  2008-01-07            37    ABBO, PAULINE
8   19     Ardle    William                       412 Dakota Avenue              Springfield    OH      45504    50.0  2007-06-28            16   Ardle, William
9   26   Buckler      Steve                         24351 Armada Dr               Dana Point    CA  926291306    50.0  2007-07-30            20   Buckler, Steve

# Save

Don't forget to save all of these changes to your database using `db.commit()`.
Before closing your editor or IDE, be sure to close the database connection with
`db.close()`.

In [126]:
db.commit()
db.close()